### Problem:

> Analytics Vidhya conducted an assessment test to hire a Data Scientist. The
candidates were evaluated on 5 different subjects A, B, C, D, and E. The marks of
5 different subjects out of 100 are given below.

### Questions:

> ðŸ™‡ Who scored the highest marks in the subject B?

> ðŸ™‡ What is the average marks scored in the subject C?

> ðŸ™‡ Who scored the highest percentage of marks?

> ðŸ™‡ If considered only top-4 subjects of a candidate, then who scored the highest
percentage of marks?

In [1]:
#student marks

marks=[['Name',

['A', 'B', 'C','D', 'E']],

['Ankit', [41, 34, 45, 55, 63]],

['Aravind', [42, 23, 34, 44, 53]],

['Lakshay', [32, 23, 13, 54, 67]],

['Gyan', [23, 82, 23, 63, 34]],

['Pranav', [21, 23, 25, 56, 56]]]

In [2]:
#Highest marks in subject B
max=marks[1][1][1]
for i in range(1,6):
  if (int(marks[i][1][1])>max):
    max=marks[i][1][1]
    name=marks[i][0]
print(f"Highest in subject B:{max}, by: {name}")

Highest in subject B:82, by: Gyan

In [3]:
#Average score of C
avg=0.0
c=0
for i in range(1,6):
  avg+=int(marks[i][1][2])
  c+=1

avg=avg/c

print(f"The average marks of subject C is:{avg}")

The average marks of subject C is:28.0

In [4]:
#Highest percentage of marks scored by student
per={}

for i in range(1,6):
  sum=0
  for j in marks[i][1]:
    sum+=j
  
  per[(marks[i][0])]=(sum/500)*100.0

In [5]:
per

{'Ankit': 47.599999999999994,
 'Aravind': 39.2,
 'Gyan': 45.0,
 'Lakshay': 37.8,
 'Pranav': 36.199999999999996}

In [6]:
print("Highest percentage of marks by:",sorted(per.items())[0])

Highest percentage of marks by: ('Ankit', 47.599999999999994)

In [7]:
#The highest percentage of marks of only 4 subjects
per={}

for i in range(1,6):
  sum=0
  marks[i][1]=sorted(marks[i][1],reverse=True)
  print(marks[i][1])
  for j in range(len(marks[i][1])-1):
    sum+=marks[i][1][j]

  per[(marks[i][0])]=(sum/400)*100.0
print(per)
print("Highest percentage of marks by:",sorted(per.items())[0])

[63, 55, 45, 41, 34]
[53, 44, 42, 34, 23]
[67, 54, 32, 23, 13]
[82, 63, 34, 23, 23]
[56, 56, 25, 23, 21]
{'Ankit': 51.0, 'Aravind': 43.25, 'Lakshay': 44.0, 'Gyan': 50.5, 'Pranav': 40.0}
Highest percentage of marks by: ('Ankit', 51.0)